body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fcfbfb;
    background-color: #000000;
}

header .hero {
    text-align: center;
    background: #070404;
    color: #fff;
    padding: 20px 10px;
}

header .hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.nav-links {
    display: flex;
    justify-content: center;
    background: #4b4a4a;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff4500;
}

.about-section, .history-section, .future-section {
    padding: 20px;
    background: rgb(31, 29, 29);
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.about-image, .history-image, .future-image {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: white;
}
