

body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.main-header {
    background: #333; 
    color: #fff;
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.branding h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}


.navbar {
    display: flex;
    justify-content: center;
    background: #555;
    padding: 0.35rem 0;
    position:relative;
    bottom: 0; 
    width: 100%; 
}

.navbar a {
    color: #fcfbfb;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffcc00; 
}

.image-section {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* Hero Section */
.hero-section {
    background: url('hero.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
   .hero-section p {
    color: #fff; /* ✅ makes only the line white */
}
 
}

.hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.2rem;
}


.cta-section {
    text-align: center;
    padding: 2rem 1rem;
    background: #444141;
    color: #fff; /* ✅ makes only the line white */

}

.cta-section span {
    color: red;
    font-weight: bold;
}

.cta-button {
    background: red;
    color: #fcf9f9;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
}

.cta-button:hover {
    background: darkred;
}


.featured-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: #0a0000;
}

.featured-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/
footer {
    text-align: center;
    background: #333;
    color: #0c0101;
    padding: 1rem 0;
}
